/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.idea/
.idea
.idea/*
.idea/workspace
composer.json
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
